.Header {
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  color: white;
  width: 100%s;
  padding: 0 50px;
}
.Acadmey_name {
  display: flex;
}

.names_container {
  display: flex;
}

.names {
  display: flex;
  margin-right: 100px;
  color: white;
  text-decoration: none;
}
.active {
  color: red;
}
.logout_container {
  display: flex;
}
